/* font import */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400;1,500;1,600&family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300&family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400;1,500;1,600&family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;1,100&family=Zen+Dots&display=swap');
/* Option to choose either or Transition upon page load */
@keyframes transitionInX {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

/* Option to choose either or Transition upon page load */
@keyframes transitionInY {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    animation: transitionInY 0.75s;
}

main {
    height: 91vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-brand {
    font-size: 30px;
    font-family: 'IBM Plex Mono', monospace; 
    font-weight: 600;
    font-style: italic;
 }

h1,.search-bar,.nP{
    font-family: 'IBM Plex Mono', monospace; 
    font-weight: 500;
 }
 h3, .ittybuttons{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
 }
 .date{
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
 }
 .description, .humidity, .speed{
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
 }

.mv-r {
    margin-top: 25px;
    float: left;
    left: 25px;
    margin-left: 25px;

}

.ittybuttons {
    margin-top: 25px;
    float:right;
    right: 95px;
    position: relative;
}
