/* h1 {
    text-align: center;
    font-size: 500px;
} */

/* .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    padding: 300px;
    margin: auto;
    
   
} */

/* Option to choose either or Transition upon page load */
@keyframes transitionInX {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

/* Option to choose either or Transition upon page load */
@keyframes transitionInY {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


body {
    background-image: url(../images/hot/sunny1.jpg);
    background-size: cover;
    background-position: center;
}









main {
    animation: transitionInX 0.75s;
}

.mv-r {
    margin-top: 25px;
    float: left;
    left: 25px;
    margin-left: 25px;

}

.ittybuttons {
    
    margin-top: 25px;
    float:right;
    right: 95px;
    position: relative;
}

